certifi==2020.6.20cchardet==2.1.6Click==7.0dash==1.14.0dash-core-components==1.10.2dash-html-components==1.0.3dash-renderer==1.6.0dash-table==4.9.0dask==2.11.0decorator==4.4.1Flask==1.1.1Flask-Compress==1.5.0gunicorn==19.9.0html5lib==1.0.1idna==2.8ipython-genutils==0.2.0itsdangerous==1.1.0Jinja2==2.10.1jupyter-core==4.6.1MarkupSafe==1.1.1nbformat==4.4.0numpy==1.17.1pandas==1.1.1pytz==2019.3six==1.12.0traitlets==4.3.3Werkzeug==1.0.0plotly==4.6.0